@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #F5F411   ;
  --secondary-color: #A9A90D ;
  --accent1-color: #31252B;
  --accent2-color: #987284;

  /* change the values below to your chosen font(s) Lato,  */
  --heading-font: "Source Sans 3", sans-serif;
  --paragraph-font: Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #31252B;  /* headlines on a white background */ 
  --headline-color-on-color: #31252B; /* headlines on a colored background */ 
  --paragraph-color-on-white: #987284; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #31252B; /* paragraph text on a colored background */ 
  --paragraph-background-color: #A9A90D;
  --nav-link-color: #31252B;
  --nav-background-color: #F5F411;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #31252B;
  --ghost-white: #F0EFF4;
}

main  {
    display: grid;
    
    grid-template-columns: repeat(8, 12.5%);
    /* grid-template-rows: repeat(2, 500px); */
    /*overflow: hidden;*/

    width: 100%; 
    max-width: inherit;

    height: auto;

    margin: 0 auto;
    padding-bottom: 2em;
    background-color: var(--paragraph-color-on-white)
}

main * {
    z-index: 5;

}





.collage {
    grid-column: 4/9;
    grid-row: 1/3;

    display: grid;
    grid-template-columns: repeat(8, 12.5%);

    /*grid-auto-rows: 0;  Prevent rows from defining height */
    /*gap: 10px;  Adjust the gap between grid items */

    margin: 1.3em;
}

.collage img {
    /* width: 100%;
    max-width: 100%;
    height: auto; */



    border-radius: 5%;
}

.collage-item {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 aspect ratio (9 / 16 * 100) */

}

.collage-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Crop image to cover the container while maintaining aspect ratio */
    /* box-shadow: 5px -5px 25px var(--accent1-color); */

}



.collage-item:nth-of-type(1) {
    grid-column: 5/9;
    grid-row: 1/4;
}

.collage-item:nth-of-type(2) {
    grid-column: 2/6;
    grid-row: 3/6;
}

.collage-item:nth-of-type(3) {
    grid-column: 3/9;
    grid-row: 5/8;
}

.collage-item:nth-of-type(4) {
    grid-column: 1/6;
    grid-row: 7/11;
}





.reading {
    grid-column: 1/4;
    grid-row: 1/3;
/* 
    display: grid;
    grid-template-columns: repeat(8, 12.5%); */

    /* width: minmax(300px, 1fr); */
    margin: 1.3em;

    background-color: var(--paragraph-background-color);
    border-radius: 5px;
    box-shadow: 5px -5px 25px var(--accent1-color);

}

.reading h1 {
    /* grid-column: 2/8; */
    text-align: center;
    justify-self: start;
    margin: 40px auto;
}

.reading h3 {
    /* grid-column: 2/8; */
    text-indent: 5em;}

.reading p {
    /* grid-column: 2/8; */
    text-indent: 2em;
}


.buttons-grid {
    display: grid;
    margin: 70px auto;
    justify-self: center;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    column-gap: 10px;
    row-gap: 50px;

    width: fit-content;

}


/*
.buttons-grid .button-box:nth-of-type(1),
.buttons-grid .button-box:nth-of-type(2)  {
    grid-row: 1;
}


.buttons-grid .button-box:nth-of-type(3),
.buttons-grid .button-box:nth-of-type(4)  {
    grid-row: 2;
}
*/








.button-box a {
    border-radius: 10px;
    background-color: var(--accent1-color);
    height: fit-content;
    width: fit-content;
    padding: 15px;
    text-decoration: none;
    color: var(--ghost-white);
}
.button-box a:hover {
    background-color: var(--nav-background-color);
    color: var(--headline-color-on-white);
}



/* MODAL IMAGE BELOW*/

/* Style the Image Used to Trigger the Modal */
.collage-item img {
    /*border-radius: 5px;
     cursor: pointer; */
    transition: 0.3s;
  }
  
 /* .collage-item img:hover {
    opacity: 0.7;
     transform: scale(1.25em); 
}*/
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }